TELEGRAM_BOT_TOKEN=8032022943:AAGQmxPC6vSTdcZLfyJlYt5rRgoV_AkHUXQ
TELEGRAM_CHANNEL=@secretollah
TWITTER_TARGET_USER=barakravid
KEYWORDS=israel,gaza,us,axios,breaking,deal,biden,netanyahu
CHECK_INTERVAL=180
